/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

$color-blue: #0047b6;
$color-dark: #000;
$color-light: #ffffff;
$color-grey: #4a4a4a;
$color-red: #ff0000;
$color-yellow: #ffbb40;

$color-primary: $color-blue;
$color-secondary: $color-grey;
$color-body: $color-dark;
$color-danger: $color-red;
$color-warning: $color-yellow;

$color-light-80: rgba(255,255,255, .8);
$color-light-60: rgba(255,255,255, .6);
$color-light-40: rgba(255,255,255, .4);
$color-light-20: rgba(255,255,255, .2);
$color-light-5: rgba(255,255,255, .05);

$c-bg-primary: #4D4F4E;
$c-bg-secundary: #303130;


$c-btn-primary: #000;